@font-face {
  font-family: "Lucioleregular";
  src: url("/fonts/LUCIOLE-REGULAR.TTF") format("opentype");
}

@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BEBASNEUE-REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "KleeOne";
  src: url("/fonts/KleeOne-Regular.ttf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #191919;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 100%;
  gap: 20px;
}

.content img {
  width: 100%;
  height: auto;
}

.content h1 {
  font-family: BebasNeue;
  font-size: 13rem;
  text-align: center;
  width: 50%;
  color: #fff;
}

.startbutton {
  display: flex;
  width: 435px;
  height: 108px;
  padding: 50px 130px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 500px;
  background: #fff;
  color: black;
  font-size: 2.5rem;
  &:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #fff;
    color: black;
  }
}

.top-image {
  margin-bottom: 50px;
}

.bot-image {
  margin-top: 50px;
}

.time-display {
  font-size: 14px;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-prologue {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-video {
  border: 2px solid white;
  width: 90%;
  height: 90%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.border-cadre {
  border: 2px solid white;
  width: 80%;
  height: 90%;
  margin: 20px auto;
  position: relative;
}

.size-cadre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  img {
    width: 80%;
  }
  h1 {
    font-family: BebasNeue;
    font-size: 5rem;
    text-align: center;
    width: 90%;
    color: #fff;
    margin: 80px 0;
  }
  p {
    margin-top: 50px;
    font-family: KleeOne;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    color: #fff;
  }
}

.subtitles-menu {
  display: none;
  position: absolute;
  top: 83%;
  left: 87%;
  border: 2px solid #000;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cadre-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .picto1 {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 10%;
  }
  .picto2 {
    position: absolute;
    bottom: 20%;
    right: 15%;
    width: 10%;
  }
}

.text-container1 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  padding: 10px;
}

.text-cadre {
  display: none;
  position: absolute;
  top: 20%;
  left: 25%;
  width: 600px;
  height: 120px;
  padding: 0px 10px;
  border-radius: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: KleeOne;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
  }
}

.text-cadre2 {
  display: none;
  position: absolute;
  bottom: 22%;
  right: 28%;
  width: 500px;
  height: 120px;
  padding: 0px 10px;
  border-radius: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: KleeOne;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
  }
}

.frise-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.line-frise {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.friseimg1,
.friseimg2,
.friseimg3,
.friseimg4 {
  z-index: 1;
}
.leave {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.next4 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.text-cadre3 {
  display: none;
  position: absolute;
  top: 13%;
  right: 5%;
  width: 500px;
  height: 120px;
  padding: 0px 10px;
  border-radius: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: KleeOne;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
  }
}

.text-cadre4 {
  display: none;
  position: absolute;
  top: 32%;
  left: 5%;
  width: 500px;
  height: 160px;
  padding: 0px 10px;
  border-radius: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: KleeOne;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
  }
}

.text-cadre5 {
  display: none;
  position: absolute;
  top: 52%;
  right: 5%;
  width: 500px;
  height: 120px;
  padding: 0px 10px;
  border-radius: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: KleeOne;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
  }
}

.text-cadre6 {
  display: none;
  position: absolute;
  bottom: 14%;
  left: 5%;
  width: 500px;
  height: 120px;
  padding: 0px 10px;
  border-radius: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: KleeOne;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
  }
}

/*  */
/* CONTENTS, CHAPTERS CSS */
/*  */

.button-chapter {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.size-cadre-chapter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  img {
    width: 80%;
  }
  h1 {
    font-family: BebasNeue;
    font-size: 5rem;
    text-align: center;
    width: 85%;
    color: #fff;
  }
  p {
    margin-top: 50px;
    font-family: KleeOne;
    font-size: 2rem;
    text-align: center;
    width: 90%;
    color: #fff;
    margin: 0 0 100px 0;
  }
}

.content-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 50px 0;
}
.content-list li {
  text-decoration: underline;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
  }
}

.size-cadre-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  width: 100%;
}

.title-card {
  width: 1290px;
  font-family: BebasNeue;
  font-size: 5rem;
  text-align: center;
  width: 90%;
  color: #fff;
  margin: 50px auto 20px;
}

.top-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 417px;
  height: 394px;
  flex-shrink: 0;
  border-radius: 17.881px 17.881px 0px 0px;
}

.top-cardjulien {
  background-image: url("/images/Julien.png");
  background-size: cover;
}

.top-carddion {
  background-image: url("/images/DION.png");
  background-size: cover;
}

.bottom-card {
  display: flex;
  width: 417px;
  flex-direction: column;
  align-items: center;
  gap: 17.881px;
  border-radius: 0px 0px 17.881px 17.881px;
  background: radial-gradient(
    242.23% 241.86% at 53.72% -58.25%,
    #404657 0%,
    rgba(64, 70, 87, 0) 100%
  );
  backdrop-filter: blur(50.663333892822266px);
  svg {
    height: 0px;
    align-self: stretch;
    stroke-width: 1.238px;
    stroke: var(--Neutural-Grey-1, #a7aab5);
    opacity: 0.2;
  }
}

.bottom-card-text {
  display: flex;
  flex-direction: column;
  width: 381px;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon-play-video {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  stroke-width: 3.125px;
  stroke: #fff;
}

.video-name {
  color: var(--Neutural-White, #fff);
  font-feature-settings: "liga" off;
  font-size: 23.842px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.762px; /* 150% */
}

.video-artist {
  width: 196.89px;
  color: var(--Neutural-Grey-1, #a7aab5);
  font-feature-settings: "liga" off;
  font-size: 23.842px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.762px; /* 150% */
}

.text-video {
  color: #fff;
  width: 70%;
  margin: 40px auto 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.global-podcast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .dialogpodcast {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 50%;
  }
}

.podcast-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 61.64px;
}

.podcast-card:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 1s;
}
.top-podcast {
  width: 400px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 16.643px;
}

.back-pod1 {
  background-image: url("/images/podcast1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.back-pod2 {
  background-image: url("/images/podcast1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bot-podcast {
  display: flex;
  width: 400px;
  flex-direction: column;
  height: 120px;
  border-radius: 0px 0px 17.881px 17.881px;
}

.podcast-h1 {
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.podcasth2 {
  color: #fff;
  font-size: 27.85px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.546px;
  margin-bottom: 10px;
}

.podcastp {
  color: var(--no-variables-label-vibrant-secondary, rgba(127, 127, 127, 0.5));
  font-size: 25.993px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.546px;
}

.card-container-animaux {
  display: flex;
  width: 75%;
  height: 750px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px 60px;
  flex-wrap: wrap;
  margin: auto;
}

.card-animaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
  }
}

.top-card-animaux {
  width: 250px;
  height: 80%;
  flex-shrink: 0;
  border-radius: 11.731px 11.731px 0 0;
}

.medor {
  background-image: url("/images/Médor.png");
  object-fit: cover;
}

.hermes {
  background-image: url("/images/Hermès.png");
  object-fit: cover;
}

.pito {
  background-image: url("/images/Pito.png");
  object-fit: cover;
}

.cocotte {
  background-image: url("/images/Cocotte.png");
  object-fit: cover;
}

.chatton {
  background-image: url("/images/Chatton.png");
  object-fit: cover;
}

.bot-card-animaux {
  width: 250px;
  height: 20%;
  flex-shrink: 0;
  border-radius: 0px 0px 11.731px 11.731px;

  background: radial-gradient(
    242.23% 241.86% at 53.72% -58.25%,
    #404657 100%,
    rgba(64, 70, 87, 0) 100%
  );
  backdrop-filter: blur(33.2376708984375px);
}

.h2podcastanimaux {
  color: var(--Neutural-White, #fff);
  font-feature-settings: "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.462px; /* 150% */
  margin-left: 10px;
  margin-bottom: 5px;
}

.ppodcastanimaux {
  color: var(--Neutural-Grey-1, #a7aab5);
  font-feature-settings: "liga" off;
  font-size: 15.641px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.462px;
  margin-left: 10px;
}

/*  */
/* PODCAST CADRE ANIMAUX 1 PAR 1 */
/*  */

.border-cadre-podcast {
  border: 3px solid #fff;
  width: 90%;
  height: 90%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.medor-podcast-background {
  background: linear-gradient(180deg, #4b9f8c 0%, #296451 100%);
}

.biboule-podcast-background {
  background: linear-gradient(180deg, #d4a270 0%, #6c4320 100%);
}

.pito-podcast-background {
  background: linear-gradient(180deg, #978e6c 0%, #2e2118 100%);
}

.cocotte-podcast-background {
  background: linear-gradient(
    180deg,
    rgba(181, 115, 63, 0.95) 46.97%,
    rgba(99, 38, 24, 0.95) 99.92%
  );
}

.chatton-podcast-background {
  background: linear-gradient(
    180deg,
    rgba(108, 100, 93, 0.95) 46.97%,
    rgba(112, 119, 127, 0.95) 99.92%
  );
}

.separate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 45px;
  width: 100%;
  height: 100%;
}

.left-part {
  width: 45%;
  height: 100%;
}

.right-part {
  width: 55%;
  height: 100%;
}

.left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  color: #fff;
}

.left-content p {
  color: #fff;
  font-size: 20px;
  width: 80%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.294px;
}

.left-content h1 {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.294px;
}

.right-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  color: #fff;
}

.right-content p {
  align-self: stretch;
  width: 90%;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 132.986%; /* 26.597px */
}

.right-content h1 {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.294px;
  text-align: left;
}

.podcast-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.podcast-list img {
  width: 150px;
  height: 150px;
  &:hover {
    cursor: pointer;
  }
}

.global-temoin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.global-temoin h1 {
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 50px;
}

.container-video-temoin {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  height: 60%;
  padding-bottom: 100px;
}

.card-temoin {
  &:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
  }
}
.temoin1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  color: #fff;
}

.temoin2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  color: #fff;
}

.top-temoin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 75%;
  margin: auto;
}

.bot-temoin {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
  height: 25%;
  margin: auto;
  border-radius: 0px 0px 18.389px 18.389px;
  background: radial-gradient(
    242.23% 241.86% at 53.72% -58.25%,
    #404657 100%,
    rgba(64, 70, 87, 0) 100%
  );
  backdrop-filter: blur(52.101776123046875px);
  h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: var(--Neutural-White, #fff);
    font-feature-settings: "liga" off;
    font-size: 24.518px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.778px; /* 150% */
  }
  p {
    margin-left: 10px;
    color: var(--Neutural-Grey-1, #a7aab5);
    font-feature-settings: "liga" off;
    font-size: 24.518px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.778px; /* 150% */
  }
}

.back-temoin1 {
  border-radius: 18.412px 18.412px 0 0;
  background: url(/images/temoignage1.png) no-repeat center center;
  background-size: cover;
}

.back-temoin2 {
  border-radius: 18.412px 18.412px 0 0;
  background: url(/images/temoignage2.png) no-repeat center center;
  background-size: cover;
}

.podcast-card-new-h1 {
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 10%;
}

.podcast-new-global-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  height: 60%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-new-podcast {
  width: 25%;
  height: 100%;
  &:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
  }
}

.card-new-top-img {
  width: 100%;
  height: 80%;
}

.img1 {
  background: url(/images/newvideo1.png) no-repeat center center;

  border-radius: 18.389px 18.389px 0 0;
}

.img2 {
  background: url(/images/newvideo2.png) no-repeat center center;

  border-radius: 18.389px 18.389px 0 0;
}

.img3 {
  background: url(/images/newvideo3.png) no-repeat center center;

  border-radius: 18.389px 18.389px 0 0;
}

.card-new-bot-text {
  width: 100%;
  height: 20%;
  border-radius: 0 0 18.389px 18.389px;
  background: radial-gradient(
    242.23% 241.86% at 53.72% -58.25%,
    #404657 0%,
    rgba(64, 70, 87, 0) 100%
  );
  backdrop-filter: blur(47.73002243041992px);
  h2 {
    color: var(--Neutural-White, #fff);
    font-feature-settings: "liga" off;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.692px; /* 160.437% */
    margin-left: 10px;
  }
  p {
    color: var(--Neutural-Grey-1, #a7aab5);
    font-feature-settings: "liga" off;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.692px; /* 160.437% */
    margin-left: 10px;
    margin-top: 10px;
  }
}

.podcast-card-new-p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.global-new-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}

/*  */
/* ANIMATION CSS */
/*  */

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 3s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

.fade-in2 {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

/*  */
/* MEDIA QUERY */
/*  */

@media (max-width: 1610px) {
  .content h1 {
    font-size: 10rem;
  }

  .buttonstart {
    width: 350px;
    height: 90px;
    padding: 40px 100px;
  }
}

@media (max-width: 1072px) {
  .content h1 {
    font-size: 7rem;
  }

  .buttonstart {
    width: 250px;
    height: 70px;
    padding: 30px 80px;
  }
}

@media (max-width: 755px) {
  .content h1 {
    font-size: 5rem;
  }

  .buttonstart {
    width: 200px;
    height: 60px;
    padding: 20px 60px;
  }
}
